PORT=3000

# Konfigurasi Database Supabase / PostgreSQL lokal
# Copy file ini menjadi .env lalu isi nilainya
DB_USER=postgres.sctingdjcgoxykvwfrgc
DB_PASSWORD=masukkan_password_database_anda
DB_HOST=aws-1-ap-northeast-1.pooler.supabase.com
DB_NAME=postgres
DB_PORT=6543